<section class="login_form">
  <nav class="nav-header w-100 p-3 co">
    <h1 class="text-uppercase text-center fs-5 mx-0 mt-4 mb-0">Change Password</h1>
  </nav>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "form_container" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="form_group">
      <%= f.label :password, "New password", class: "form_label" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form_input" %>
    </div>

    <div class="form_group">
      <%= f.label :password_confirmation, "Confirm new password", class: "form_label" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form_input" %>
    </div>

    <%= f.submit "Change my password", class: "btn my-3" %>
    <%= render "devise/shared/links" %>
  <% end %>
</section>
