<section class="password_form">
  <nav class="nav-header w-100 p-3 co">
    <h1 class="text-uppercase text-center fs-5 mx-0 mt-4 mb-0">Forgot password?</h1>
  </nav>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form_container" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form_group">
      <%= f.label :email, class: "form_label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form_input" %>
    </div>

    <%= f.submit "Send reset password instructions", class: "btn my-3" %>
    <%= render "devise/shared/links" %>
  <% end %>
</section>
