<section class="login_form">
  <nav class="nav-header w-100 p-3 co">
    <h1 class="text-uppercase text-center fs-5 mx-0 mt-4 mb-0">Log in</h1>
  </nav>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form_container" }) do |f| %>

    <div class="form_group">
      <%= f.label :email, class: "form_label" %>
      <%= f.email_field :email, class: "form_input", autofocus: true, autocomplete: "email" %>
    </div>

    <div class="form_group">
      <%= f.label :password, class: "form_label" %>
      <%= f.password_field :password, class: "form_input", autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <%= f.submit "Log in", class: "btn my-2" %>
    <%= render "devise/shared/links" %>
  <% end %>
</section>
